Source: openmesher
Maintainer: Aaron C. de Bruyn <aaron@heyaaron.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: openmesher
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-probstat, python-ipy, python-ipaddr, python-paramiko, python-yapsy, python-jinja2
Description: OpenMesher: Router OpenVPN p2p Mesh Link Generator

